<!DOCTYPE html>
<html lang="en">
<head>
    <title>StarStreaming</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'indexc.css' %}">
<body>
    <div class="topnav">
        <a class="active">Home</a>
        <a style="float:Right;" href="{% url 'loginpage' %}">Log In</a>
        <a style="float: right;" href="{% url 'signinpage' %}">Sign In</a>
      </div>
<h1 style="color: white; text-shadow: -1px 0 rgb(155, 41, 41), 0 1px rgb(175, 41, 41), 1px 0 rgb(175, 41, 41), 0 -1px rgb(175, 41, 41);">StarStreaming</h1>
<br><br><br><br><br><br><br><br>
<center>
  <h1 style="color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" >Unlimited Movies and Tv shows and more</h1>
  <h3 style="color: white;" >Watch anytime,&nbsp;Anywhare</h3>
</center>
<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="tv">
  <h1>Enjoy on your TV</h1>
  <h3>Watch on smart TVs, PlayStation, Xbox, <br>Chromecast, Apple TV, Blu-ray players and more.</h3>

</div>

<div class="wtc">
  <h1>Watch everywhere</h1>
  <h3>Stream unlimited movies and TV shows on <br>your phone, tablet, laptop, and TV.</h3>

</div>

<div class="hov">
<br>
  <div class="myDIV" style="color: white;"><h2>What is StarStreaming ?</h2></div>
  <div class="hide"><h2>Its a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries and more – on thousands of internet-connected devices.
  You can watch as much as you want, whenever you want. There's always something new to discover, and new TV shows and movies are added every week!</h2></div>
  <br>
  <div class="myDIV" style="color: white;"><h2>Where can i watch ?</h2></div>
  <div class="hide"><h2>Watch anywhere, anytime. Sign in with your StarStreaming account to watch instantly on the web at StarStreaming.com from your personal computer or on any internet-connected devices, including smart TVs, tablets, streaming media players and game consoles.
   Take StarStreaming with you anywhere.</h2></div>
  <br>
  <div class="myDIV" style="color: white;"><h2>What can i watch on StarStreaming ?</h2></div> 
  <div class="hide"><h2>StarStreaming has an extensive library of feature films, documentaries, TV shows, anime, award-winning StarStreaming originals, and more. Watch as much as you want, anytime you want.</h2></div>

  <center><h2 style="color: white;">Let's creat your account and enjoy unlimited tv shows ,movies and more<br> watch anytime anywhere</h2></center>
<hr>
<center>
<div class="abo">
<h3>StarStreaming</h3>
<p>Terms and Privacy notice</p>
<p>Send us feed back</p>
<p>2008-2024, StarStreaming.com, online streaming</p>
</div>
</center>

</div> 


</body>
</html>
